# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\代码gitee\java_code\solution_to_algorithm_problems\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
